{{building-name-input name=building.name}}
{{building-address-input address=building.address}}
{{building-city-input city=building.city}}
{{building-state-input state=building.state}}
{{building-zip-input zip=building.zip}}
{{building-sqft-input sqft=building.sq_ft}}
{{building-year-input year=building.year_const}}
{{building-floors-input floors=building.num_floors}}
{{building-notes-input notes=building.notes}}

<button type="submit" class="btn btn-primary new-building-form" {{action "submit"}}>
  Submit
</button>

<button class="btn btn-default" {{action "reset"}} on="click">
  Cancel
</button>

<div class="space"></div>
