<h2>{{sensor.building.name}}: Sensor {{sensor.id}}</h2>
<h6>{{#link-to 'building' sensor.building.id}}Back to building overview{{/link-to}}</h6>

{{!-- {{#each sensor.points as |point|}}
  <li>{{point.datetime}}</li>
{{/each}} --}}

{{!-- <h4>Data</h4> --}}
{{!-- <select onchange={{action "selectVehicle" value="target.value"}}>
  {{#each measures as |vehicleChoice|}}
    <option value={{vehicleChoice}} selected={{eq query vehicleChoice}}>{{vehicleChoice}}</option>
  {{/each}}
</select> --}}

<div class="col-md-12 sensor-chart">
  {{#if sensor.points}}
    <h4>100 most recent sensor measurements are shown</h4>
    {{#each measures as |measure| }}
      {{sensor-page/chart points=sensor.points query=measure.name label=measure.label color=measure.color}}
    {{/each}}
  {{else}}
    <div class="loader-container">
      <h4>Loading data...</h4>
      <div class="loader">Loading...</div>
    </div>
  {{/if}}
</div>
