<h3>
  {{#if isEditing}}
    {{input value=label class="edit-bar"}}
    <button class="btn btn-default btn-xs" {{action save}}>Save</button>
    <button class="btn btn-default btn-xs" {{action cancel}}>Cancel</button>
  {{else}}
    <span class="editable" {{action edit on="click"}}>{{label}}</span><a href="" {{action edit on="click"}} data-toggle="tooltip" title="Click to edit name"><span class="glyphicon glyphicon-pencil glyphicon-small"></span></a>
  {{/if}}
</h3>
{{#if building.address}}<h5>{{building.address}}, {{building.city}}, {{building.state}}</h5>{{/if}}

{{#if building.measures}}
{{#if building.baseline.certified}}
  <div class="leed-box">
    <img class="leed" src="http://www.poetshouse.org/uploads/media/page-main-images/leed.jpg">
  </div>
{{else}}
  <div class="leed-box">
    <img class="leed leed-no" src="http://www.poetshouse.org/uploads/media/page-main-images/leed.jpg">
    <h5 class="leed-text">This building is not LEED certified</h5>
  </div>
{{/if}}

<div class="row">
  <div class="col-md-9">
    {{building-page/center building=building}}
  <div class="row">
    {{building-page/daily days=building.days baselineScore=baselineScore}}
    {{building-page/sensors building=building}}
  </div>
  </div>
  <div class="col-md-3 baseline-column">
  {{building-page/foundations building=building}}
  </div>
</div>
<p class="back">{{#link-to 'buildings'}}Back to Building Dashboard{{/link-to}}</p>
{{else}}
<img src="">
<div class="row warning">
  <div class="col-md-8">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-random"></span><span class="panel-title-text">Building page in development</span></h3>
      </div>
      <div class="panel-body">
        This building was recently added to your dashboard. Site admins have been notified and are in the process of verifying the details of your building and connecting it to its data sensors. Please try again soon!
        <br><br>
        {{#link-to 'buildings'}}Back to Building Dashboard{{/link-to}}
      </div>
  </div>
</div>
</div>
{{/if}}
