<h4>{{building.name}}</h4>
<h6>{{building.address}}, {{building.city}}, {{building.state}}</h6>

{{building-page/baseline building=building}}
{{building-page/sensors building=building}}
{{building-page/daily days=building.days}}

{{#link-to 'buildings'}}Back to Building Dashboard{{/link-to}}
