{{!-- <p class="baseline-info">{{measure.framework.name}}: <span class="baseline-num">{{score}}</span></p> --}}
<div class="row little-chart">
  <div class="col-md-9">
    <h6 class="baseline-info update-baseline-chart" id="baseline-info-{{measure.id}}">{{measure.framework.name}}</h6>
  </div>
  <div class="col-md-3">
    <div id="measure-{{measure.id}}" class="update-baseline-chart"></div>
  </div>
</div>
