{{#link-to 'building' building}}
  <h4>{{building.name}}</h4>
{{/link-to}}

<button class="btn btn-xs btn-danger delete-buttons" data-toggle="modal" data-target="#delete-modal-{{building.id}}">Delete</button>

<!-- Modal -->
<div class="modal" id="delete-modal-{{building.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="myModalLabel">Delete "{{building.name}}"?</h4>
        <h6>This action cannot be undone.</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" {{action "deleteBuilding" on="click"}}>Delete</button>
      </div>
    </div>
  </div>
</div>
