<div class="card">
  <div class="x-container" id="delete-button">
    <a href="#" class="delete-buttons" data-toggle="modal" data-target="#delete-modal-{{building.id}}"><span class="glyphicon glyphicon-remove"></span></a>
  </div>
  {{#link-to 'building' building}}
    <div class="img-container">

        {{#if (eq building.name '400 S Hope')}}
      <img class="card-img-top" src="images/400southhope.jpg">
      {{else if (eq building.name '234 S Brand')}}
        <img class="card-img-top" src="images/234SBrand.jpg">
      {{else if (eq building.name '225 W Santa Clara')}}
        <img class="card-img-top" src="images/225WSantaClara.png">
      {{else if (eq building.name '1737 N First')}}
        <img class="card-img-top" src="images/1737NFirst.jpg">
      {{else if (eq building.name 'Crescent VII G')}}
        <img class="card-img-top" src="images/crescentG.jpeg">
      {{else if (eq building.name 'Crescent VII C')}}
        <img class="card-img-top" src="images/cresentC.jpg">
      {{else}}
        <img class="card-img-top building-icon" src="images/buildingIcon.jpg">
      {{/if}}
    </div>
    <div class="card-block">
        <h4 class="card-title building-title">{{building.name}}</h4>
    </div>
  {{/link-to}}
</div>


{{!-- <button class="btn btn-xs btn-danger delete-buttons" data-toggle="modal" data-target="#delete-modal-{{building.id}}">Delete</button> --}}

<!-- Modal -->
<div class="modal" id="delete-modal-{{building.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="myModalLabel">Delete "{{building.name}}"?</h4>
        <h6>This action cannot be undone.</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" {{action "deleteBuilding" on="click"}}>Delete</button>
      </div>
    </div>
  </div>
</div>
